<td [ngClass]="{view: !editing}"><input class="form-check-input" type="checkbox" id="checkbox" [checked]="selected" (change)="selected = !selected"></td>
<td [ngClass]="{view: !editing}">{{ user.id }}</td>
<td [ngClass]="{view: !editing}">{{ user.name }}</td>
<td [ngClass]="{view: !editing}">{{ user.subname }}</td>
<td [ngClass]="{view: !editing}">{{ user.birth }}</td>
<td [ngClass]="{view: !editing}">{{ user.mobileNumber }}</td>
<td [ngClass]="{view: !editing}">{{ user.address }}</td>
<td [ngClass]="{view: !editing}">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary btn-sm"
            (click)="editing = !editing">Edit</button>
    <button type="button" class="btn btn-outline-danger btn-sm"
            (click)="deleteUser(user)">Delete</button>
  </div>
</td>
<td [ngClass]="{view: editing}">&nbsp;</td>
<td [ngClass]="{view: editing}"><input type="text" class="form-control form-control-sm" placeholder="ID" [value]="user.id" readonly></td>
<td [ngClass]="{view: editing}"><input type="text" class="form-control form-control-sm" placeholder="Name" [value]="user.name" #name></td>
<td [ngClass]="{view: editing}"><input type="text" class="form-control form-control-sm" placeholder="Subname" [value]="user.subname" #subname></td>
<td [ngClass]="{view: editing}"><input type="text" class="form-control form-control-sm" placeholder="Birth" [value]="user.birth" #birth></td>
<td [ngClass]="{view: editing}"><input type="text" class="form-control form-control-sm" placeholder="Mobile number" [value]="user.mobileNumber" #mobileNumber></td>
<td [ngClass]="{view: editing}"><input type="text" class="form-control form-control-sm" placeholder="Address" [value]="user.address" #address></td>
<td [ngClass]="{view: editing}">
  <div>
    <button type="submit" class="btn btn-primary btn-sm" (click)="editUser(name, subname, birth, mobileNumber, address)">Save</button>
    <button type="button" class="close" aria-label="Close" (click)="editing = !editing">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</td>
